/* Container holding the image and the text */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif !important; */
  font-family: "Old Standard TT", serif;
}
.container {
  position: relative;
  text-align: center;
  color: blue;
  text-emphasis: bolder;
  font-size: 30px;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 267px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 1px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* contatc css starts from here*/

.profile-picture,
.profile-details {
  flex: 1;
  font-size: 16px;
  /* font-size: 2.5vw; */
}

.profile-wrapper {
  background: white;
  color: black;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
.support-contact {
  /* margin-top: 3rem; */
}
.cont_num {
  /* margin-top: 2rem !important; */
  margin-bottom: 24px;
}

img#profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.profile-details > div {
  padding: 0em 1em 1em 1em;
}

div.profile-details > div > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.profile-details > div > ul li {
  margin: 8px 0;
  display: block;
}

/* div.profile-details > div > ul > li > div:nth-child(1) {
  font-weight: 600;
  font-size: 16px;
  font-size: 2vw;
  width: 30%;
  display: inline-block;
} */

/* div.profile-details > div > ul > li > div:nth-child(2) {
  font-size: 16px;
  font-size: 2vw;
  text-align: left;
  width: 68%;
  display: inline-block;
} */

.contact-action {
  position: fixed;
  bottom: 25px;
  right: 15px;
  width: 5em;
  height: 5em;
  cursor: pointer;
}

.back-action {
  position: fixed;
  top: 20px;
  left: 15px;
  width: 5em;
  height: 5em;
  cursor: pointer;
}

.contact-action .item,
.back-action .item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  transition: 0.5s;
  color: white;
  background: transparent;
  box-shadow: 1px 1px 5px #000;
}

.back-action .item {
  font-size: 2em;
}

.item:hover {
  color: #013864;
  background: #fff;
  box-shadow: 1px 1px 5px #000;
}
.profile-notes {
  margin-top: 7rem;
}
.profile-number {
  margin-top: 1.5rem !important;
  font-size: 1.89rem;
  margin-bottom: 24px !important;
}
.profile-notes-copyright {
  font-size: 14px;
  font-weight: 400;
  /* margin-top: 6rem !important; */
  list-style: none;
  padding-left: 56px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.left_bottom_content {
  /* margin-top: 2rem; */
}
.newdiv {
  width: 80%;
  margin: auto;
}
.contact-info-title {
  text-align: center;
  font-size: 32px !important;
  font-weight: 200;
  margin-bottom: 100px;
  padding-top: 70px;
}
.profile-name {
  font-size: 22px !important;
  font-weight: 400;
}
.profile-number {
  font-size: 16px;
  font-weight: 400;
}
.profile-primary-email {
  font-size: 16px !important;
  font-weight: 400 !important;
}
#profile-primary-email {
  line-height: 28.8px;
}
.profile-email .cont_num {
  font-size: 22px !important;
  font-weight: 400;
}
/* @media (max-width: 800px) {
  .image_wrappere {
    width: 35% !important;
    margin-top: 6.5px !important;
  }
  .profile-number {
    font-size: inherit !important;
  }
  .profile-notes-copyright {
    font-size: inherit !important;
    margin-top: 0rem !important;
  }
  .left_bottom_content {
    font-size: 0.5rem !important;
    margin-top: 1rem !important;
  }
  .left_bottom_content_starlight {
    font-size: 1rem !important;
    margin-top: 0rem;
  }
  .text-white div h2 {
    font-size: 1.3rem !important;
  }

  .profile-wrapper {
    flex-direction: column;
  }
  .support-contact {
    margin-top: 1rem !important;
  }

  .back-action,
  .contact-action {
    width: 10em;
    height: 10em;
  }

  .back-action .item {
    font-size: 4em;
  }

  .contact-action .item {
    font-size: 7em;
  }

  .profile-details {
    font-size: 5vw;
    min-height: 60vh;
  }

  img#profile-picture {
    max-height: 40vh;
  }
  .bottom-left {
    bottom: 42px !important;
  }
} */

/* div.profile-details > div > ul > li > div:nth-child(1),
div.profile-details > div > ul > li > div:nth-child(2) {
  font-size: 5vw;
} */
/* .Logo_web {
  width: 331px !important;
  height: fit-content !important;
} */

/* section two custom css */
.section_two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}
.info-contact {
  width: 50%;
  margin-top: -43px;
}
.contact_info {
  text-align: center;
}
.image-width {
  width: 50%;
}
.image-width img {
  width: 100%;
}
.contact_info {
  text-align: center;
  font-size: 32px !important;
  font-weight: 200;
  margin-bottom: 100px;
  padding-top: 70px;
}
.office_addr {
  font-size: 22px !important;
  font-weight: 400;
  margin-bottom: 24px;
}
.contact_num {
  font-size: 22px !important;
  font-weight: 400;
  margin-bottom: 24px;
  list-style: none;
}
.office_address {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  width: 95%;
  list-style: none;
}
.address_wrapper {
  margin-bottom: 40px;
}
.profile-primary-email {
  font-size: 16px !important;
  font-weight: 400 !important;
}
#profile-primary-email {
  line-height: 28.8px;
}
.profile-email .cont_num {
  font-size: 22px !important;
  font-weight: 400;
}
.chat-button-container {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 999; /* Ensure it's above other elements */
}

/* Chat Button Styling */
.chat-button {
  /* Green color, change as needed */
  /* background-color: #4caf50; */
  /* color: white; */
  border: none;
  /* padding: 9px 9px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
}
.welcome_two {
  font-size: 35px !important;
  font-weight: 200 !important;
  color: black;
}
.left_bottom_content_starlight {
  font-size: 35px !important;
  font-weight: 200 !important;
  color: black;
}
.left_bottom_content {
  font-size: 35px !important;
  font-weight: 200 !important;
  color: black;
}
.image_wrappere .Logo_web {
  margin-top: 1rem;
}
@media (max-width: 800px) {
  .back_img_dark {
    height: 643px !important;
  }
  .centered {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .image-width {
    width: 100%;
  }
  .info-contact {
    width: 100%;
    margin-top: 0px;
  }
  .section_two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .bottom-left {
    position: absolute;
    bottom: 125px;
    left: 16px;
  }
  .authorised_content {
    margin-top: 2rem !important;
  }
  .welcome_two {
    font-size: 22px !important;
    font-weight: 200 !important;
  }
  .left_bottom_content_starlight {
    font-size: 22px !important;
    font-weight: 200 !important;
  }
  .left_bottom_content {
    font-size: 22px !important;
    font-weight: 200 !important;
    width: 80%;
  }
}
